<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="main w-full h-screen bg-zinc-900 text-white p-10">
        <a href="/" class="text-blue-600"> Go Back To Home Page </a>
        <h1 class="text-5xl mt-5"> <%= filename %> </h1>
        <p class="text-normal mt-10"> <%= filedata %> </p>
    </div>
</body>

</html>